@page "/items"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject INativeDialogService dialogService
@attribute [Authorize(Roles = "Admin")]

<h3>Items Index</h3>
@if(Items is null){
    <div class="spinner"/>
}
else
{
    <GenericList MyList="Items">
        <Body>
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-star" /> Items
                        <a class="btn btn-sm btn-primary float-end" href="/items/create"><i class="oi oi-plus" /> Nuevo articulo</a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                        <div>
                            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar articulo..." @bind-value="Filter" />
                        </div>
                        <div class="mx-1">
                            <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="oi oi-layers" /> Filtrar</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Limpiar</button>
                        </div>
                    </div>

                    <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Inventario</th>
                                <th>Categorías</th>
                                <th>Imagenes</th>
                                <th>Imagen Principal</th>
                                <th style="width:200px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Items)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @($"{item.Price:C2}")
                                    </td>
                                    <td>
                                        @($"{item.Stock:N2}")
                                    </td>
                                    <td>
                                        @item.ItemCategoriesCount
                                    </td>
                                    <td>
                                        @item.ItemImagesCount
                                    </td>
                                    <td>
                                        <img src="@item.MainImage" style="width:100px;" />
                                    </td>
                                    <td>
                                        <a href="/items/edit/@item.Id" class="btn btn-warning"><i class="oi oi-pencil" /> Editar</a>
                                        <button class="btn btn-danger" @onclick=@(() => Delete(item.Id))><i class="oi oi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </Body>
    </GenericList>

}

@code {
    private int currentPage = 1;
    private int totalPages;

    public List<Item>? Items { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task SelectedPageAsync(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = string.Empty;
        string url2 = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"api/items?page={page}";
            url2 = $"api/items/totalPages";
        }
        else
        {
            url1 = $"api/items?page={page}&filter={Filter}";
            url2 = $"api/items/totalPages?filter={Filter}";
        }

        try
        {
            var responseHppt = await repository.Get<List<Item>>(url1);
            var responseHppt2 = await repository.Get<int>(url2);
            Items = responseHppt.Response!;
            totalPages = responseHppt2.Response!;
        }
        catch (Exception ex)
        {
            var message = ex.Message;
            await dialogService.ShowAlertAsync("Error", message ?? "Ocurrió un error desconocido", "Aceptar");
        }
    }

    private async Task Delete(int itemId)
    {
		var confirm = await dialogService.ShowConfirmMessageAsync("¿Está seguro de que desea eliminar el articulo?", "Se eliminará el articulo y no podrá recuperarse");
        if (!confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/items/{itemId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
                return;
            }

            var mensajeError = await responseHTTP.GetErrorMessageAsync();
			await dialogService.ShowAlertAsync("Error", mensajeError ?? "Ocurrió un error desconocido", "Aceptar");
            return;
        }

        await LoadAsync(1);
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPageAsync(page);
    }
}
